* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kosugi Maru', sans-serif;
}

html {
    min-width: 100vw;
    overflow: hidden;
    background-color: #778da9;
}

/* Colors */
:root {
    --navbar-color: #1b263b;
    --text-color: #e0e1dd;
    --body-color: #0d1b2a;
    --sidebar-color: #415a77;
    --projects-color:#778da9;
    --btn-color: #EAE8FF;
    --toastify-color-dark: #121212;
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(135, 135, 135, 0.3); 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.414);
    /* -webkit-box-shadow: inset 0 0 6px rgba(193, 50, 50, 0.5); */
}

/* --------------------------------------------------------------- */
/* ----------------------------components----------------------------- */
/* --------------------------------------------------------------- */
.fs-5{
    font-size: 18px;
}
.text-light{
    color: var(--text-color);
}

.color-light{
    color: var(--btn-color);
}

.fw-light{
    font-weight: 500;
}

.align-self-center{
    align-self: center;
}

.btn {
    height: 32px;
    width: auto;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--text-color);
    cursor: pointer;
    border-radius: 5px;
    border: none;
}

/* Boton que se usa en las opciones de autenticacion */
.auth__btn {
    background-color: var(--body-color);
    height: 50px;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 20px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid white; 
}
.auth__btn:hover {
    background-color: var(--text-color);
}
.auth__btn:hover > span {
    color: var(--body-color);
}
.auth__btn:hover > p {
    color: var(--body-color) !important;
}
.auth__btn > span {
    margin-right: 10px;
    color: var(--text-color);
}

/* Componente que se usa en los input de signup y signin */
.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    margin-bottom: 10px;
}

.inputContainer > label {
    margin-bottom: 5px;
}

.inputContainer > input {
    align-self: center;
    height: 28px;
    font-size: 16px;
    width: 80%;
    padding-left: 10px;
}

/* --------------------------------------------------------------- */
/* ----------------------------layout----------------------------- */
/* --------------------------------------------------------------- */
.layout {
    position: relative;

    width: 100vw;
    min-width: 375px;
    height: 100vh;

    display: grid;
    grid:
        "header" 56px 
        "sidebar" 50px
        "body" 1fr
        "projects" 0.2fr 
        "footer" 60px 
        / 1fr;
    /* gap: 4px 0; */
}

/* --------------------------------------------------------------- */
/* ----------------------------header----------------------------- */
/* --------------------------------------------------------------- */
.header {
    grid-area: header;
    background-color: var(--navbar-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
}

.title {
    color: var(--text-color);
    font-weight: 500;
}

.burguer-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 10px;
    height: 30px;
    width: 30px;
    /* background-color: red; */
    justify-content: space-around;
    cursor: pointer;
}

.burguer-menu__line {
    height: 3px;
    width: 100%;
    border-radius: 10px;
    background-color: white;
}

/* --------------------------------------------------------------- */
/* ----------------------------sidebar----------------------------- */
/* --------------------------------------------------------------- */
.sidebar {
    position: relative;
    z-index: 1;

    display: flex;
    /* flex-direction: row; */
    align-items: center;

    grid-area: sidebar;
    background-color: var(--sidebar-color);

    padding: 10px;   
}

.sidebar > ul {
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.sidebar > ul > a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--projects-color);
    width: 100%;
    height: 35px;
    /* margin-bottom: 10px; */
    padding: 0 0 0 10px;
    text-decoration: none;
    transition: 0.5s ease;
    border-radius: 3px;
    margin-right: 10px;
}

.sidebar > ul > a:hover{
    background-color: var(--navbar-color);
    transition: 0.5s ease;
}
.sidebar > ul > a > li{
    transition: 0.5s ease;
    display: none;
}
.sidebar > ul > a:hover > li {
    color: var(--text-color);
    transition: 0.5s ease;
}

.sidebar > ul > a > span {
    margin-right: 10px;
}

.signuplogin {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.signuplogin > a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--projects-color);
    width: 48%;
    height: 35px;
    /* margin-bottom: 10px; */
    padding: 0 0 0 10px;
    text-decoration: none;
    transition: 0.5s ease;
    border-radius: 3px;
}

.signuplogin > a > span {
    margin-right: 10px;
}
.signuplogin > a > li {
    display: none;
}

/* --------------------------------------------------------------- */
/* ----------------------------body----------------------------- */
/* --------------------------------------------------------------- */
.body {
    position: relative;
    grid-area: body;
    background-color: var(--body-color);

    padding: 20px 35px;
    height: auto;

    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

/* --------------------------------------------------------------- */
/* ----------------------------aboutme - comes with body ----------------------------- */
/* --------------------------------------------------------------- */

.body__img{
    /* position: absolute; */
    align-self: center;
    /* transform: translate(-50%, 0); */
    height: 200px;
    width: 200px;
    clip-path: circle(30% at 50% 45%);
}

.aboutme{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.aboutme > h1 {
    text-align: center;
}

.aboutme__ppalInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.aboutme__ppalInfo__data {
    position: relative;
    left: -10px;
}

.aboutme__ppalInfo__data > p{
    font-size: 24px;
    margin-bottom: 10px;
}

.technologies {
    align-self: center;
    width: 100%;
    padding: 10px 5px;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    align-content: space-evenly;
    min-height: 150px;
}

.technologies > img {
    height: 45px;
    margin-right: 15px;
    /* filter: drop-shadow(0px 0px 1px white); */
}

/* --------------------------------------------------------------- */
/* ----------------------------profile - comes with body ----------------------------- */
/* --------------------------------------------------------------- */

.profile {
    height: 100%;
    width: 100%;
    /* margin-bottom: 20px; */
    /* background-color: rgb(110, 110, 110); */
}

.main_info {
    position: relative;
    height: 100%;
    width: 100%;
    max-width: 100%;
    display: grid;
    grid:
        "portrait " 150px
        "info" 250px
        "social_media" 300px
        / 1fr;
    /* gap: 8px; */
    /* padding-bottom: 20px; */
}

.profile__portrait { 
    position: relative;
    grid-area: portrait;
    background-color: red;
    overflow: hidden;
}

.profile__portrait > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.2);
    width: 100%;
    height: auto;
    object-fit: cover;
}

.profile__info > img{
    height: 150px;
    position: absolute;
    z-index: 1;
    top: 75px;
    left: 50%;
    transform: translate(-50%, 0);
    clip-path: circle(50% at 50% 50%);
    /* box-shadow: 0 0 0 5px white;  */
    /* outline: 10px solid white; */
}
.profile__info { 
    grid-area: info;
    /* background-color: var(--projects-color); */
    padding: 80px 10px 10px 10px;
}

.profile__info > h2 {
    margin-bottom: 10px;
}

.profile__info > :last-child {
    margin-top: 10px;
}
.profile__social_media { 
    grid-area: social_media; 
    background-color: var(--navbar-color);
}

/* --------------------------------------------------------------- */
/* ----------------------------signup - comes with body ----------------------------- */
/* --------------------------------------------------------------- */

.signup {
    align-self: center  ;
    height: 500px;
    width: 350px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: purple; */
    padding: 20px 0;
}

.signup > h2 {
    margin-bottom: 20px;
}

.form {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__btn {
    margin-top: 10px;
}

.form > p {
    margin: 10px 0; 
}

/* --------------------------------------------------------------- */
/* ----------------------------signin - comes with body ----------------------------- */
/* --------------------------------------------------------------- */

.signin {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 370px;
    height: 80%;
    width: 80%;
    max-width: 350px;
    /* background-color: red; */
}

.signin > h1 {
    margin-bottom: 5px;
}

.signin > h5 {
    letter-spacing: 2px;
}

.auth {
    background-color: var(--body-color);
    height: 50px;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 20px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid white;
}

.hr {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    font-size: 10px;
    color: var(--text-color);
    column-gap: 10px;
    margin: 20px 0;
}

.hr::after, .hr::before {
    content: "";
    height: 2px;
    background-color: var(--text-color);
    display: block;
}

.signin__options {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    padding: 0 20px;
}

.signin__options input {
    margin-right: 10px;
}

.signin__options > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.btn__signin {
    width: 60%;
    margin-bottom: 15px;
}

/* --------------------------------------------------------------- */
/* ----------------------------projects----------------------------- */
/* --------------------------------------------------------------- */
.projects {
    grid-area: projects;
    background-color: var(--projects-color);

    min-height: 100px;
    /* max-height: 110px; */

    display: flex;
    flex-direction: row;
    align-items: center;

    overflow-x: scroll;

    padding: 0 10px;
}

.projects::-webkit-scrollbar {
    display: none;
    }

.app {
    min-width: 75px;
    min-height: 75px;
    background-color: black;

    /* margin-bottom: 20px; */
    margin-right: 10px;
    border-radius: 10px;
    /* border: 4px solid white; */

    cursor: pointer;
}

/* --------------------------------------------------------------- */
/* ----------------------------footer----------------------------- */
/* --------------------------------------------------------------- */
.footer {
    grid-area: footer;
    background-color: var(--navbar-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 20px;
    /* width: 100%; */
}

.social_media {
    display: flex;
    flex-direction: row;
    width: 150px;
    justify-content: space-evenly;
}

.logo > a > img{
    height: 25px;
    width: auto;
    cursor: pointer;
}

.btn__contact{
    position: absolute;
    right: 20px;
}

/* --------------------------------------------------------------- */
/* ----------------------------extra queries----------------------------- */
/* --------------------------------------------------------------- */

/* --------------------------------------------------------------- */
/* ----------------------------Toastify----------------------------- */
/* --------------------------------------------------------------- */

.Toastify__toast-body > div:last-child {
    text-align: center;
}






